body {
  /*background-color: black;*/
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.grid-item { 
  width: 250px;
  border-radius: 20px;
}
.grid-item--width2 { 
  width: 400px;
  border-radius: 20px;
}


/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 30%; }
.grid-item--width2 { width: 40%; }

/* 2 columns */
/*.grid-item--width2 { width: 40%; }*/
/*
.test-class{
color: purple;

}*/
.single-photo {
  width: 900px;
  border-radius: 30px;


}

/*.comment-visual-aid {
  color: red;
}*/
.map-container { 
  position: relative; 
  margin-left: 400px;
}

/*.map-container .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 460px;
}*/
.map-container .bottom {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 2px;
  padding-bottom: 50px;
}

h1, h2 {
  margin-top: 40px;
}
.navbar {
  margin-bottom: 0;
}
.pull-right a {
  color: #000;
  cursor: pointer;
  display: inline-block;
  margin: 3px 5px 0 0;
  opacity: 0.2;
}
.pull-right a:hover {
  color: #000;
  opacity: 0.5;
}
label.error {
  color: red;
}
.title{
  font: Impact;
  color: blue;
}

.description{
  font-family: 'Gloria Hallelujah', cursive;
  font-size::;px;
  color: #000;
  width:300px;
  height:200px;
}

.post-it-note{
  background: rgb(255,255,136); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /*Chrome,Safari4+*/
  background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
  background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding:15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size:15px;
  color: #000;
  width:300px;
  height:200px;
  /*position: fixed; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px;
  */-moz-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
  box-shadow: 0px 4px 6px #333;
  -moz-box-shadow: 0px 4px 6px #333;
  -webkit-box-shadow: 0px 4px 6px #333;
  -webkit-border-bottom-right-radius: 60px 5px;
  -moz-border-bottom-right-radius: 60px 5px;
  -o-border-bottom-right-radius: 60px 5px;
  z-index:2 !important; 
}